$background: #18191A;
$secondary: #242526;
$svgFill: #B0B3B8;
$svgBackground: #242526;
$fillFocus: #4896ff;
$blue: #2374E1;
$fillBackground:#41526B;
$white: #FFFFFF;
$black: #000000;
$divider: #3E4042;
$fontSecondary: #cccccc;
$buttonEmpty: #FFFFFF33;