@import "../../sass/app.scss";

.account-profile__container {
  min-width: 340px;
  padding: 5px;
  box-shadow: 0 0 5px 0 darken($secondary, 2%);
  hr {
    margin: 8px 8px;
    height: 1px;
    border-width: 0;
    background-color: $divider;
  }
}

.account-title__container {
  display: flex;
  align-items: center;
  padding: 8px 8px 0 8px;
}

.account-menu__title {
  color: $white;
  padding: 0 8px;
  margin-bottom: 10px;
}

.account-profile-all__container {
  padding: 8px;
  p {
    color: $fillFocus;
  }
}

.account-menu__item {
  display: flex;
  padding: 8px;
  align-items: center;
}

.account-menu__text-container {
  padding: 0 16px;
  h2 {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: normal;
  }

  p {
    font-size: 13px;
    color: darken($white, 20%);
  }
}

.account-menu__icons {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-filter: invert(89%) sepia(6%) hue-rotate(185deg);
}

.setting-icon {
  background-image: url("../../images/icons-Y7QlzVzTt.png");
  background-position: -105px -105px;
}

.help-icon {
  background-image: url("../../images/icons-Glp1caU4o5w.png");
  background-position: 0 -255px;
}

.display-icon {
  background-image: url("../../images/icons-konW6rFC.png");
  background-position: 0 -218px;
}

.feedback-icon {
  background-image: url("../../images/icons-Glp1caU4o5w.png");
  background-position: 0 -129px;
}

.logout-icon {
  background-image: url("../../images/icons-78H0B6GuFSK.png");
  background-position: 0 -801px;
}

.additionalLinks__container {
  padding: 8px;
}