@import "../../sass/app.scss";

.header {
  position: fixed;
  width: 100%;
  background: $secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  top: 0;
  padding: 8px;
  z-index: 2;
}

.header__items {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__search-container {
  cursor: pointer;
}

.header__searchbar-container {
  cursor: pointer;
  position: fixed;
  box-shadow: -1 0 5px 0 darken($secondary, 2%);
  z-index: 2;
  left: 0;
  top: 0;
  padding: 12px;
  background: $secondary;
  min-width: 320px;
}
