@import "../../sass/app.scss";

.more__dropdown {
  padding: 8px;
}

.divider {
  margin: 8px 8px;
  height: 1px;
  border-width: 0;
  background-color: $divider;
}

.more__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  h2 {
    font-weight: normal;
    font-size: 15px;
  }
}

.header__item {
  padding: 4px;
}

.aside__item {
  padding: 8px
}

.more__item-first-last {
  padding-left: 8px;
}

.more__menu-icons {
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/BHDNlEdwMgn.png");
}

.header-icons {
  transform: scale(0.77777777);
}

.friends-icon {
  background-position: 0px -296px;
  background-image: url("../../images/icons-BHDNlEdwMgn.png");
}

.most-recent-icon {
  background-image: url("../../images/icon-most-recent.png");
}

.groups-icon {
  background-position: 0px -74px;
  background-image: url("../../images/icons-BHDNlEdwMgn.png");
}

.marketplace-icon {
  background-position: 0px -407px;
  background-image: url("../../images/icons-BHDNlEdwMgn.png");
}

.watch-icon {
  background-position: 0px -518px;
  background-image: url("../../images/icons-BHDNlEdwMgn.png");
}

.memories-icon {
  background-position: 0px -444px;
  background-image: url("../../images/icons-BHDNlEdwMgn.png");
}

.saved-icon {
  background-position: 0px -185px;
  background-image: url("../../images/icons-BHDNlEdwMgn.png");
}

.pages-icon {
  background-position: 0px -111px;
  background-image: url("../../images/icons-BHDNlEdwMgn.png");
}

.ad-center-icon {
  background-image: url("../../images/icon-ad-center.png");
}

.blood-donations-icon {
  background-image: url("../../images/icon-blood-donations.png");
  background-position: -722px -175px;
}

.climate-science-center-icon {
  background-image: url("../../images/icon-climate-science-center.png");
}

.crisis-response-icon {
  background-image: url("../../images/icon-crisis-response.png");
}

.events-icon {
  background-image: url("../../images/icon-events.png");
}

.favorites-icon {
  background-image: url("../../images/icon-favorites.png");
}

.gaming-video-icon {
  background-position: 0px -37px;
  background-image: url("../../images/icons-BHDNlEdwMgn.png");
}

.live-videos-icon {
  background-position: 0px -370px;
  background-image: url("../../images/icons-BHDNlEdwMgn.png");
}

.messenger-icon {
  background-image: url("../../images/icon-messenger.png");
  background-position: 0px -37px;
}

.meta-quest-icon {
  background-image: url("../../images/icon-meta-quest.png");
}

.orders-and-payments-icon {
  background-image: url("../../images/icon-orders-and-payments.png");
}

.play-games-icon {
  background-image: url("../../images/icon-play-games.png");
}

.ray-ban-stories-icon {
  background-image: url("../../images/icon-ray-ban-stories.png");
}


.additionalLinks__container {
  padding: 8px;
}
