@import "../../sass/app.scss";

.more__dropdown {
  padding: 8px;
}

.divider {
  margin: 8px 8px;
  height: 1px;
  border-width: 0;
  background-color: $divider;
}

.more__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  h2 {
    font-weight: normal;
    font-size: 15px;
  }
}

.header__item {
  padding: 4px;
}

.aside__item {
  padding: 8px
}

.more__item-first-last {
  padding-left: 8px;
}

.more__menu-icons {
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/BHDNlEdwMgn.png");
}

.header-icons {
  transform: scale(0.77777777);
}

.friends-icon {
  background-position: 0px -296px;
}

.most-recent-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eECk3ceTaHJ.png");
}

.groups-icon {
  background-position: 0px -74px;
}

.marketplace-icon {
  background-position: 0px -407px;
}

.watch-icon {
  background-position: 0px -518px;
}

.memories-icon {
  background-position: 0px -444px;
}

.saved-icon {
  background-position: 0px -185px;
}

.pages-icon {
  background-position: 0px -111px;
}

.ad-center-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/CwKNCefmHON.png");
}

.ads-manager-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/DHBHg9MEeSC.png");
}

.blood-donations-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y7/r/z3JoyCWlf8g.png");
  background-position: -722px -175px;
}

.climate-science-center-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/Jr0q8qKF2-Y.png");
}

.crisis-response-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/fNPcDZC-2PD.png");
}

.events-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/WMOYDeEqIYv.png");
}

.favorites-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/mAnT0r8GSOm.png");
}

.fundraisers-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/mAnT0r8GSOm.png");
}

.gaming-video-icon {
  background-position: 0px -37px;
}

.live-videos-icon {
  background-position: 0px -370px;
}

.messenger-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/CQd7aGaFAXB.png");
  background-position: 0px -37px;
}

.messenger-kids-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/1Xvrz50fHMF.png");
}

.meta-quest-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/X_XWe7iDeyK.png");
}

.news-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yT/r/jEh7gupryIB.png");
}

.orders-and-payments-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/GJ4EaivDaSj.png");
}

.play-games-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/JzYamtSussX.png");
}

.ray-ban-stories-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yR/r/zQwTF98Z85D.png");
}

.recent-ad-activity-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/8OasGoQgQgF.png");
}

.voting-information-center-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/CCoUFjDYz42.png");
  background-position: 0px -92px;
}

.additionalLinks__container {
  padding: 8px;
}
