@import "../../sass/app.scss";

.nav__item {
  position: relative;
  cursor: pointer;
}

.nav__title {
  @include background-opacity($white, 0.9);
  position: absolute;
  top: 45px;
  left: 50%;
  border-radius: 15px;
  padding: 0.75rem;
  transform: translateX(-50%);
  z-index: 2;
  color: $black;
}

.nav__title--last-child {
  left: 0;
}

.hidden {
  display: none;
}
