@import "../../sass/app.scss";

.icon {
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  &:hover {
    cursor: pointer;
    background: lighten($secondary, 10%);
    border-radius: 50%;
  }

  .hidden {
    display: none;
  }

  .title {
    @include background-opacity($white, 0.9);
    position: absolute;
    top: 35px;
    left: 0;
    border-radius: 15px;
    padding: 0.75rem;
    transform: translateX(-50%);
    z-index: 2;
    color: $black;
    white-space: nowrap;
  }
}
